# Dependencies
node_modules
.pnpm-store

# Next.js
.next
out

# Production
build
dist

# Environment Variables
.env
.env*.local
.env.production
.env.development
.env.test

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Testing
coverage
.nyc_output
playwright-report/
test-results/

# Editor/OS
.DS_Store
*.pem
.vscode
.idea
*.swp
*.swo

# Vercel
.vercel

#python
.pyc
.mypy_cache
__pycache__/
# Python virtual environments and caches
.venv/
venv/
*.egg-info/
.pytest_cache/
.ruff_cache/
